<aside class="col-12 col-md-3 col-xl-2 bg-light position-sticky ck-sidebar" id="aside">

  <nav class="navbar navbar-expand-md navbar-light bg-light flex-column align-items-start">
    <div style="flex: 1 1 100%">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#asideNavbarNavDropdown"
        aria-controls="asideNavbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>

    <ul class="collapse navbar-collapse flex-column" id="asideNavbarNavDropdown">
      <li class="nav-item">Link001</li>
      <li class="nav-item">Link002</li>
      <li class="nav-item">Link003</li>
      <li class="nav-item">Link004</li>
      <li class="nav-item">Link005</li>
      <li class="nav-item">Link006</li>
      <li class="nav-item">Link007</li>
      <li class="nav-item">Link008</li>
      <li class="nav-item">Link009</li>
      <li class="nav-item">Link010</li>
      <li class="nav-item">Link011</li>
      <li class="nav-item">Link012</li>
      <li class="nav-item">Link013</li>
      <li class="nav-item">Link014</li>
      <li class="nav-item">Link015</li>
      <li class="nav-item">Link016</li>
      <li class="nav-item">Link017</li>
      <li class="nav-item">Link018</li>
      <li class="nav-item">Link019</li>
      <li class="nav-item">Link020</li>
      <li class="nav-item">Link021</li>
      <li class="nav-item">Link022</li>
      <li class="nav-item">Link023</li>
      <li class="nav-item">Link024</li>
      <li class="nav-item">Link025</li>
      <li class="nav-item">Link026</li>
      <li class="nav-item">Link027</li>
      <li class="nav-item">Link028</li>
      <li class="nav-item">Link029</li>
      <li class="nav-item">Link030</li>
      <li class="nav-item">Link031</li>
      <li class="nav-item">Link032</li>
      <li class="nav-item">Link033</li>
      <li class="nav-item">Link034</li>
      <li class="nav-item">Link035</li>
    </ul>

  </nav>
</aside>