<header class="navbar navbar-expand-md navbar-dark bg-dark">
  <a href="#" class="navbar-brand">招商创库</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item"><a href="" class="nav-link">Home</a></li>
      <li class="nav-item"><a href="" class="nav-link">Link 1</a></li>
      <li class="nav-item"><a href="" class="nav-link">Link 2</a></li>
      <li class="nav-item"><a href="" class="nav-link">Link 3</a></li>
    </ul>
  </div>
</header>