$header-height: 4rem;

.ck-header {
  min-height: $header-height;
  z-index: 1500;
}

@include media-breakpoint-up(md) {
  .ck-sidebar {
    top: $header-height;
    height: calc(100vh - #{$header-height});
    overflow-y: auto;
  }
  
  .ck-toc {
    top: $header-height;
    height: calc(100vh - #{$header-height});
    overflow-y: auto;
  }  
}

